/*this will be the space for the home page css*/
#body1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: darkgrey;
}
#head1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: coral;
}
#Logo{
    width: 75px;
    height: 75px;
}
#Title1{
    justify-self: center;
}
#nav1{
    justify-self: end;
}
#contact{
    display:none;
}
#content1{
    display: grid;
    place-items: center;


}
#about{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
}
#story{
    width:250px;
    justify-self: center;

    box-shadow: 5px 5px 10px lightgray;

}
#video_intro{
    display: none;
}
#video{
    width: 250px;
    height: 200px;
}
#foot1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    

}
#foot-phone{
    justify-self: end;


}
#foot_author{
    display: none;

}


@media screen and (min-width: 700px) {
    
    #phone1{
        display: none;
    }
    
    
    
    
    #welcome{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
   
    #story{
        width:350px;
    
        box-shadow: 5px 5px 10px lightgray;
        font-size: medium;
        font-weight: bold;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    #video_intro{
        display: contents;
        font-size: large;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        width: 350px;

        
    }
    #video{
        width: 350px;
        margin-left: 10px;
        margin-top: 25px;
    }
    #foot_phone{
        display: none;

    }
    #foot_author{
        display: contents;
        justify-self: end;
    }
    
}

@media only screen and (min-width:985px){
    #video{
        width:625px;
        height:400px

    }
    
}













/*this whole section is for page 2 trying to get individual cards for menu Items. site starting at 300px*/
#body2{
    margin: 0px;
    padding:0px;
    width: 100%;

}
#head2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: coral;
    
}
#nav2{
    justify-self: end;
}
#title2{
    justify-self: start;

}
#page_content2{
    display: grid;
    width: 100%;
    place-items: center;
    margin: 0px;
    padding: 0px;
    
}
#card_container>.main_card1{
    width:250px;
    height:350px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 3px;
    margin-bottom: 50px;
    background-color: lightgrey;
}
@media screen and(min-width:700px) {
    #card_container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
    
}
@media screen and (min-width:1000px) {
    #card_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }
    
}



/*this will be the space for the location and contact information page 3*/


#body3{
   margin: 0px;
   padding: 0px;
   width:100%;
}
#head3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: coral;
    
}
#nav3{
    justify-self: end;

}


#content3{
    display: grid;
    width: 100%;
    place-items: center;
    margin: 0px;
    padding: 0px;
    
}
#Contact{
    width: 250px;
    font-family: Arial, Helvetica, sans-serif;

}
#map{
    width: 250px;
    height:300px;

}

#foot3{
    display: grid;
    grid-template-columns: 1fr 1fr;

}




@media only screen and (min-width: 700px) {
    #content3{
        grid-template-columns: 1fr 1fr;


    }
    #Contact{
        font-size: large;
        font-weight: bold;

    }
    #map{
        width: 400px;
        height: 400px;
        margin: 100px;
        
        justify-self: end;
        box-shadow: 5px 5px 10px 
    }

    
}