/*this will be the space for the home page css*/
#body1{
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: darkgrey;
}
#head1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: coral;
}
#Logo{
    width: 75px;
    height: 75px;
}
#Title1{
    justify-self: center;
}
#nav1{
    justify-self: end;
}
#contact{
    display:none;
}
#content1{
    display: grid;
    place-items: center;


}
#about{
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
}
#story{
    width:250px;
    box-shadow: 5px 5px 10px lightgray;

}


@media screen and (min-width: 700px) {
    
    #phone1{
        display: none;
    }
    
    
    
    
    #content1{
        display: grid;
        grid-template-columns: 1fr ;
        
    }
   
    #story{
        width:500px;
        box-shadow: 5px 5px 10px lightgray;
        font-size: large;
        font-weight: bold;
        grid-template-columns: 1fr 1fr 1fr;
        
    }
    
}













/*this whole section is for page 2 trying to get individual cards for menu Items. site starting at 300px*/
#body2{
    margin: 0px;
    padding:0px;
    width: 100%;

}
#head2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: coral;
    
}
#nav2{
    justify-self: end;
}
#title2{
    justify-self: start;

}
#page_content2{
    display: grid;
    width: 100%;
    place-items: center;
    margin: 0px;
    padding: 0px;
    
}
#card_container>.main_card1{
    width:250px;
    height:350px;
    box-shadow: 5px 5px 10px gray;
    border-radius: 3px;
    margin-bottom: 50px;
    background-color: lightgrey;
}
@media screen and(min-width:700px) {
    #card_container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 50px;
    }
    
}
@media screen and (min-width:1000px) {
    #card_container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 50px;
    }
    
}



/*this will be the space for the location and contact information page 3*/


