/*this will be the space for the home page css*/
#body1 {
  margin: 0px;
  padding: 0px;
  width: 100%;
  background-color: darkgrey;
}

#head1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: coral;
}

#Logo {
  width: 75px;
  height: 75px;
}

#Title1 {
  justify-self: center;
}

#nav1 {
  justify-self: end;
  font-weight: bolder;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#menu1 {
  margin: 5px;
  background-color: coral;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;
  border-radius: 15px;
}

#LACI1 {
  margin: 5px;
  background-color: coral;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;
  border-radius: 15px;
}

#contact {
  display: none;
}

#content1 {
  display: grid;
  place-items: center;
}

#about {
  font-family: Arial, Helvetica, sans-serif;
  width: 150px;
}

#story {
  width: 250px;
  justify-self: center;
  box-shadow: 5px 5px 10px lightgray;
}

#video_intro {
  display: none;
}

#video {
  width: 250px;
  height: 200px;
}

#foot1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#foot-phone {
  justify-self: end;
}

#foot_author {
  display: none;
}

@media screen and (min-width: 700px) {
  #phone1 {
    display: none;
  }

  #welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #story {
    width: 350px;
    box-shadow: 5px 5px 10px lightgray;
    font-size: medium;
    font-weight: bold;
    grid-template-columns: 1fr 1fr 1fr;
  }

  #video_intro {
    display: contents;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 350px;
  }

  #video {
    width: 350px;
    margin-left: 10px;
    margin-top: 25px;
  }

  #foot_phone {
    display: none;
  }

  #foot_author {
    display: contents;
    justify-self: end;
  }
}
@media only screen and (min-width: 985px) {
  #video {
    width: 625px;
    height: 400px;
  }
}
/*this whole section is for page 2 trying to get individual cards for menu Items. site starting at 300px*/
#body2 {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#head2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: coral;
}

#nav2 {
  justify-self: end;
}

#home2 {
  margin: 5px;
  background-color: coral;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;
  border-radius: 15px;
}

#LCI2 {
  margin: 5px;
  background-color: coral;
  box-shadow: 1px 1px 1px black;
  font-weight: bold;
  border-radius: 15px;
}

#title2 {
  justify-self: start;
}

#page_content2 {
  display: grid;
  width: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
}

/*this will be the individual menu section css*/
#Apps {
  font-weight: bolder;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#Mains {
  font-weight: bolder;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#Sides_main {
  font-weight: bolder;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#card_container1 > .main_card1 {
  width: 250px;
  height: 350px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 3px;
  margin-bottom: 50px;
  background-color: lightgrey;
}

#card_container2 > .main_card2 {
  width: 250px;
  height: 350px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 3px;
  margin-bottom: 50px;
  background-color: lightgrey;
}

#card_container3 > .main_card3 {
  width: 250px;
  height: 350px;
  box-shadow: 5px 5px 10px gray;
  border-radius: 3px;
  margin-bottom: 50px;
  background-color: lightgrey;
}

#foot2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: gray;
}

#foot_phone {
  display: contents;
  justify-self: end;
}

#foot_author {
  display: none;
}

/* this section is for the menu Items, unfortunately I have to do the mostly individually but thats why I am doing this section last*/
@media screen and (min-width: 700px) {
  #Apps {
    justify-self: start;
  }

  #card_container1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  #card_container2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  #card_container3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  #foot_phone {
    display: none;
  }

  #foot_author {
    display: contents;
  }
}
@media screen and (min-width: 1000px) {
  #menu_container {
    display: grid;
  }

  #card_container1 {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  #card_container2 {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }

  #card_container3 {
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}
/*this will be the space for the location and contact information page 3*/
#body3 {
  margin: 0px;
  padding: 0px;
  width: 100%;
}

#head3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: coral;
}

#nav3 {
  justify-self: end;
}

#content3 {
  display: grid;
  width: 100%;
  place-items: center;
  margin: 0px;
  padding: 0px;
}

#Contact {
  width: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

#mobile {
  display: contents;
}

#desktop {
  display: none;
}

#map {
  width: 225px;
  height: 300px;
  margin-top: 25px;
  margin-bottom: 25px;
}

#foot3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#foot_author {
  justify-self: end;
}

@media only screen and (min-width: 700px) {
  #content3 {
    grid-template-columns: 1fr 1fr;
  }

  #Contact {
    font-size: large;
    font-weight: bold;
    width: 250px;
  }

  #mobile {
    display: none;
  }

  #desktop {
    display: contents;
  }

  #map {
    width: 350px;
    height: 400px;
    margin-top: 50px;
    box-shadow: 5px 5px 10px;
  }
}/*# sourceMappingURL=style.css.map */